<div class="repository-viewport">
    <div class="repository-toolbar">

    </div>
    <div class="repository-content">
        <div class="file-list">
            <div class="content">
            </div>
            <div class="footer">
                60 fichiers - 256Go
            </div>
        </div>
        <div class="current-description">

        </div>
    </div>
</div>