<div class="repository-viewport">
    <div class="repository-toolbar">

    </div>
    <div class="repository-content">
        <div class="file-list" oncontextmenu="{{ctx "background_context(event)"}}">
            <div class="content" {{object "content"}}>
            </div>
            <div class="footer">
                60 fichiers - 256Go
            </div>
        </div>
        <div class="current-description">

        </div>
    </div>
    <div class="upload-container" {{object "upload_container"}}></div>
    <div class="drop-box" {{object "drop_box"}}></div>
</div>