<div>
    <button class="field" onclick="{{ctx "expand()"}}">
        <p class="arrow">▸</p><img src="/public/images/icons/icons8-folder-96.png">
        <p>{{name}}</p>
    </button>
    <div {{object "content"}} class="content"></div>
</div>