#carousel-fullscreen-background {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(2, 2, 2, 0.91);
}

#carousel-fullscreen {
  position: absolute;
  top: 0;
  bottom: 110px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: rgba(2, 2, 2, 0.91);
}

#carousel-fullscreen-list {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 5%;
  right: 5%;
  height: 90px;
  z-index: 101;
}