
.danger-zone {
  padding: 15px;
  border-radius: 5px;
  border: 1px #a40a0a solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  background-color: #ff00000f;

  h2 {
    margin-top: 2px;
  }
}