<div class="token">
    <div class="field device">
        <p>{{device}}</p>
    </div>
    <div class="field">
        <p class="expiration">{{expdate}}</p>
    </div>
    <div class="field">
        <button onclick="{{ctx "delete()"}}"><img alt="delete" src="/public/images/icons/icons8-trash-96.png"></button>
    </div>
</div>