{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "json", "sass", "scss", "log"],
      "plugins": ["line-numbers", "toolbar", "inline-color", "copy-to-clipboard", "show-language", "previewers", "autolinker"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}