<div id="app-container">
    <div id="global-header" {{object "global_header"}}></div>
    <div id="main-body">
        <div id="side-bar" {{object "side_bar"}}></div>
        <div id="viewport" {{object "viewport"}}></div>
    </div>
</div>