<div class="test">
    <div id="global-header" {{object "global_header"}}></div>
    <div id="main-body">
        <div id="repo-menu" {{object "repo_menu"}}></div>
        <div id="viewport" {{object "viewport"}}></div>
    </div>
</div>