#user-settings-root {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .left-bar {
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    border-right: dashed 1px #4c4c4c;

    p {
      font-weight: bold;
      margin-left: 10px;
    }

    button {
      background-color: #00000000;
      border-right: 0 #0070f0 solid;
      border-left: 0 #0070f0 solid;
      width: 100%;

      &:hover {
        background-color: rgba(0, 100, 211, 0.37);
        border-right: 4px #0070f0 solid;
        border-left: 4px #0070f0 solid;
      }

      &.selected {
        background-color: rgba(0, 111, 238, 0.37);
        border: 1px #0070f0 dashed;
      }
    }
  }

  #user-settings-container {
    background-color: #202a38;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;

    .table {
      display: flex;
      flex-direction: row;

      .fields {
        display: flex;
        flex-direction: column;
        flex-grow: 0.25;
        border-right: dotted 2px #6a6a6a;
      }

      .values {
        display: flex;
        flex-direction: column;
        flex-grow: 0.75;
      }
    }

    #connected-devices-list {
      display: flex;
      flex-direction: column;

      .device {
        display: flex;
        flex-direction: row;
        align-items: center;

        .device-name {
          margin-left: 20px;
          flex-grow: 1;
        }

        button {
          min-width: unset;
          width: 50px;
          margin: 0 30px;

          img {
            width: 30px;
          }
        }
      }
    }
  }
}