<h1>Nouveau dépôt</h1>
<form action="/api/create-repos" method="post">
    <div class="field">
        <label for='name'>
            <input type="text" name="name" placeholder="Nom" id="name" required>
        </label>
    </div>
    <div class="field">
        <label for='type'>
            <select name="type" onChange="" id="type">
                <option>Invisible</option>
                <option>Publique</option>
                <option>Privé</option>
            </select>
        </label>
    </div>
    <input type="submit" value="Nouveau dépot">
</form>