<h1>Modifier le dossier {{item.name}}</h1>
<form onsubmit="{{ctx 'submit(event)'}}">
    <div class="field">
        <label for='name'>
            <input type="text" name="name" placeholder="Nom" id="name" required value="{{item.name}}">
        </label>
    </div>
    <div class="field">
        <label for='description'>
            <textarea name="description" placeholder="Description" id="description" rows="8">{{item.description}}</textarea>
        </label>
    </div>
    <div class="field">
        <p>Ouvrir la mise en ligne de fichiers à tous </p>
        <label for='open_upload'>
            <input type="checkbox" name="open_upload" id="open_upload" {{#if item.open_upload}}checked{{/if}}>
        </label>
    </div>
    <input type="submit" value="Valider">
</form>