<h1>Nouveau Dossier</h1>
<form onsubmit="{{ctx 'mkdir(event)'}}">
    <div class="field">
        <label for='name'>
            <input type="text" name="name" placeholder="Nom" id="name" required>
        </label>
    </div>
    <input type="submit" value="Créer le dossier">
</form>