
<div class="carousel-list-root">
    <div class="carousel-list-scroller">
        <div class="carousel-list">

        </div>
    </div>
    <div class="carousel-move-left"><button onclick="{{ctx 'move_left()'}}"><</button></div>
    <div class="carousel-move-right"><button onclick="{{ctx 'move_right()'}}">></button></div>
</div>