@import "colors";

.fill {
  display: flex;
  width: 100%;
  height: 100%;
}

.floating-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top: 1px $border-default solid;
}

.hseparator {
  width: 100%;
  border-bottom: 1px $border-default solid;
}

.global-prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
