<div class="folder">
    <div class="folder-button"  onclick="{{ctx 'clicked()'}}" onmouseenter="{{ctx 'enter()'}}" onmouseleave="{{ctx 'leave()'}}">
        <img src="/images/icons/icons8-folder-96.png" alt="folder">
        <h2>loading...</h2>
        <button class="trash cancel-button" style="opacity: 0" onclick="{{ctx 'removed()'}}">
            <img src='/images/icons/icons8-trash-52.png' alt="supprimer">
        </button>
    </div>
    <div class="folder-content" style="display: none">
    </div>
</div>
