<h1>Réinitialisation du mot de passe</h1>
<form onsubmit="{{ctx 'reset(event)'}}">
    <div class="field">
        <label for='password'>
            <input type="password" name="password" placeholder="Mot de passe" id="password" required>
        </label>
    </div>
    <input type="submit" value="Réinitialiser le mot de passe">
</form>