@import "../common/colors";

.context-action-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $background_2;
  z-index: 100000;
  border-radius: 5px;
  padding: 10px;

  p {
    width: 100%;
    text-align: left;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.15s;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px $border-default dotted;

    &:hover {
      background-color: rgba(143, 139, 139, 0.35);
      border-bottom: 1px #5cc1f8 solid;
    }

    &.context-checked {
      background-color: $button_1;

    }
  }
}