
#message-box {
  z-index: 10000000000;
  position: absolute;
  max-width: 90%;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #0d0d16c4;
  padding: 10px 80px;
  border: 2px #696666 solid;
  border-radius: 20px;

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 100;
  }

  .cancel-button {
    min-width: 0;
    width: 30px;
    height: 30px;
  }
}

.message-box-close {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  opacity: 0;
  transition-duration: 0.25s;
}

.message-box-open {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 100%;
  pointer-events: all;
  transition-duration: 0.1s;
}