@import "../common/colors";

button {
  color: $text-color;
  background-color: $button_1;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  min-width: 140px;
  transition: all .15s;
  border-radius: 3px;
  border: 1px rgba(0, 0, 0, 0) solid;

  &:hover {
    background-color: item_hover($button_1);
    border-color: $button_1;
  }

  &:focus {
    background-color: item_focused($button_1);
    border-color: $button_1;
  }

  &:active {
    background-color: item_active($button_1);
    border-color: $button_1;
  }

  &.plus-button {
    min-width: 0;
    width: 40px;
    border-radius: 20px;
    background-color: rgba(5, 5, 5, 0);
    border: 2px $border-default solid;
    font-size: 25px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #00000000;
      border-color: $button_yes;
    }

    &:active {
      background-color: $border-default;
    }
  }

  &.cancel-button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px $border-default solid;

    &:hover {
      background-color: item_hover($cancel-background);
      border-color: item_hover($cancel-border);
    }

    &:active {
      background-color: item_active($cancel-background);
      border-color: item_active($cancel-border);
      color: #ffc1c1;
    }
  }
}
