<div class="context-action-box">
    {{#each actions}}
            <button onclick="window.context_action.click_object('{{this.title}}')" {{#if this.checked}}class="context-checked"{{/if}}>
                <img src="{{this.image}}" alt="{{this.title}}">
                <p>{{this.title}}</p>
            </button>
    {{/each}}
</div>