@import "../../common/colors";

.toolbar {
  background: linear-gradient(to right, #105bb0, #0070ff);
  display: flex;
  align-items: center;
  height: 80px;
  max-height: 20vh;
  padding-right: 20px;

  button {
    padding-left: 5px;
  }

  p {
    padding-right: 30px;
  }

  .title {
    flex-grow: 1;
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
  }

  .user-account-button {
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 60px;
    margin: 0 20px;
    align-items: center;

    img {
      width: 30px;
      border-radius: 20px;
      border: solid 2px #d8d8d8;
      margin-top: 2px;
    }

    p {
      padding-right: 0;
      font-weight: bolder;
      font-size: 12px;
      margin: 5px;
    }
  }
}
