@import "base_design/a";
@import "base_design/buttons";
@import "base_design/inputs";
@import "base_design/textarea";

@import "common/utils";

@font-face {
  font-family: "Bahnschrift";
  src: url("../../public/fonts/Bahnschrift/font.eot");
  src: url("../../public/fonts/Bahnschrift/font.eot")format("embedded-opentype"),
  url("../../public/fonts/Bahnschrift/font.woff2")format("woff2"),
  url("../../public/fonts/Bahnschrift/font.woff")format("woff"),
  url("../../public/fonts/Bahnschrift/font.ttf")format("truetype"),
  url("../../public/fonts/Bahnschrift/font.svg")format("svg");
}

body {
  background-color: #282f3d;
  display: table;
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: Bahnschrift;
  overflow: hidden;

  touch-action: pinch-zoom;
  .app-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
  }
  @supports (-webkit-backdrop-filter: blur(1px)) {
    .safari-only {
      .app-container {
        height: 100dvh;
      }
    }
  }
}

@import "components/context_action";
@import "components/main/outliner";
@import "components/main/toolbar";
@import "components/main/viewport";
@import "components/modal";
@import "components/progress-bar";

@import "views/item-preview";

@import "drop-box";
@import "user-viewport";
@import "repos_viewport";
@import "components/message_box";

