@import "common/colors";

.file-view {
  position: relative;
  background-color: rgb(40, 47, 61);
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  width: 100%;

  .repos_content {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;

    #file-list-box {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      overflow: hidden;


      #mobile-selection-header {
        height: 50px;
        width: 100%;
        display: none;
        background-color: #1d1d1d;
        border-bottom: dotted 2px #717171;

        &.mobile-selection-mode {
          display: flex;
        }

        #mobile-selection-info {
          flex-grow: 1;
        }

        #mobile-selection-close-button {
          min-width: unset;
          width: 60px;
          background-color: transparent;
          height: 100%;
          margin-right: 20px;

          img {
            width: 30px;
          }
        }

        #mobile-selection-action-buttons {
          display: flex;
          flex-direction: row;
          align-items: center;

          button {
            min-width: unset;
            margin: 0 10px;

            img {
              width: 25px;
            }
          }

          .more-button {
            margin-right: 10px;
            background-color: transparent;
            width: 40px;

            &:hover {
              background-color: $button_1;
            }

            img {
              width: 20px;
            }
          }
        }
      }

      #file-list-scroll-box {
        overflow: auto;

        #file-list {
          flex-grow: 1;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(120px, 0fr));
          grid-auto-flow: dense;
          height: fit-content;
          align-content: baseline;
        }
      }

      #upload-button {
        display: flex;
        position: absolute;
        pointer-events: none;

        button {
          display: flex;
          position: relative;
          margin-top: auto;
          margin-left: auto;
          bottom: 2%;
          right: 2%;
          pointer-events: auto;
          background-color: $toolbar;
        }
      }
    }

    #directory-description {
      max-width: 30%;
      background-color: $background_1;
      overflow: auto;

      img {
        max-width: 100%;
      }
    }

    @media (orientation: portrait) {
      flex-direction: column-reverse;

      #directory-description {
        max-height: 30%;
        width: 100%;
        max-width: none;
      }
    }
  }
}

.open-context-button {
  background-color: rgba(37, 37, 37, 0.58);
  border: 1px #7e7e7e solid;
  transform: translate(-2px, -8px);
  right: 0;
  top: 10px;
  position: absolute;
  z-index: 2;
  width: 40px;
  min-width: 0;
  height: 20px;
  padding: 0;
  opacity: 0;
}

.object-button {
  position: relative;
  background-color: rgba(64, 66, 106, 0);
  padding: 10px;
  border-radius: 5px;
  border: 2px rgba(64, 66, 106, 0) solid;
  transition-duration: 0.05s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    border: 2px #5b6574 solid;
  }

  &:active {
    background-color: #102646;
  }

  &.selected {
    background-color: #102646;;
    border: 2px #888fb8 solid;
  }

  &:hover {
    .open-context-button {
      opacity: 100%;
    }
  }

  .item-name {
    font-size: 14px;
    text-align: center;
    word-wrap: anywhere;
  }

  .user-icon {
    position: absolute;
    top: 95px;
    left: 5px;
    width: 25px;
    background-color: #056ae8;
    border-radius: 20px;
    border: 1px solid;
  }
}