
.file-item {
  width: 100%;
  height: 100px;
  background-color: #25272c;
  display: flex;
  transition-duration: 0.15s;
  border-bottom: 1px #5b6574 solid;
  border-top: 1px rgba(64, 66, 106, 0) solid;
  font-size: 12px;

  &:hover {
    border-bottom: 1px #0070f0 solid;
    border-top: 1px #0070f0 solid;
  }
  p {
    color: white;
    flex-grow: 1;
  }
  button {
    min-width: 50px;
    width: 50px;
    background-color: rgba(64, 66, 106, 0);

    &:hover {
      background-color: #ce0000;
    }
  }
  img {
    width: 20px;
  }
  .left-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    p {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
  .right-fields {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 60px;
  }
  div div {
    display: flex;
    flex-direction: row;
  }
  input {
    margin-bottom: 0;
    width: 100%;
  }
  input.item-title {
    height: 30px;
  }
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #60f341;
}

.send-buttons {
  display: flex;
  width: 80%;
  margin-bottom: 30px;
}

input.add-file-button:hover {
  background-color: #40426a;
  border-color: #00ff04;
}

button.cancel-button {
  background-color: rgba(64, 66, 106, 0);
  border: 2px #5b6574 solid;
}

button.cancel-button:hover {
  background-color: rgb(91, 14, 0);
  border-color: #9f1000;
}