<h1>Supprimer ce dépôt et toutes ses données ?</h1>

<div class="progress-container">
    <div class="progress-bar"></div>
</div>
<div class="delete-repos">
    <button onclick="modal.close_modal()" class="cancel-button">Annuler</button>
    <input type="submit" onclick="{{ctx 'clicked()'}}" value="Veuillez patienter" id="countdown-button" disabled>
</div>