@import '../../../stylesheets/common/colors';

.delete-repos {
  display: flex;
  flex-direction: row;

  .progress-container {
    width: 95%;
    height: 10px;
    flex-grow: 0;
    margin-bottom: 10px;
  }

  #countdown-button {
    background-color: item_hover($cancel-background);
    border-color: item_hover($cancel-border);

    &:disabled {
      background-color: $border-default;
      cursor: not-allowed;

      &:hover {
        border: none;
      }

      &:active {
        color: $text-color;
      }
    }
  }
}